
.btn {
    background-color: transparent;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    width: 200px;          
    text-align: center;    
    white-space: nowrap
    }

.btn.btn-danger{
    color: var(--color-red-500);
    border: 1px solid var(--color-red-500);
}
.btn.btn-primary {
    color: var(--color-accent-secondary);
    border: 1px solid var(--color-accent-secondary);
}

.botones {
    display: flex;
  flex-direction: column;   
  align-items: flex-start;  
  gap: 0.5rem;  
}
