.homepage {
  align-items: center;
  justify-content: center;
}

.homepage__banner {
  text-align: center;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-accent-primary);
}

.homepage__banner-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-bordo-negro);
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .homepage__banner-title {
    font-size: 2.2rem;
  }
}

@media (min-width: 1024px) {
  .homepage__banner-title {
    font-size: 2.5rem;
  }
}

.homepage__banner-subtitle {
  font-size: 0.9rem; 
  color: var(--color-bordo-negro);
}

@media (min-width: 768px) {
  .homepage__banner-subtitle {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .homepage__banner-subtitle {
    font-size: 1.125rem;
  }
}

.homepage__store-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  align-items: center;
  justify-items: center;
  width:100%
}

@media (min-width: 750px) {
  .homepage__store-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .homepage__store-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}



