/node_modules
/tienda-sol-back/node_modules
/tienda-sol-frontend/node_modules

/tienda-sol-frontend/.pnp
/tienda-sol-frontend/.pnp.js

/tienda-sol-frontend/coverage

/tienda-sol-frontend/build

/tienda-sol-frontend/.DS_Store
/tienda-sol-frontend/.env.local
/tienda-sol-frontend/.env.development.local
/tienda-sol-frontend/.env.test.local
/tienda-sol-frontend/.env.production.local

/tienda-sol-frontend/npm-debug.log*
/tienda-sol-frontend/yarn-debug.log*
/tienda-sol-frontend/yarn-error.log*
