.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.error-page__banner {
    background-color: var(--color-error,#c16565 ); 
    width: 100%;
    max-width: 800px;
    margin-bottom: 2rem;
}

.error-page__status {
    font-size: 3rem; 
}

.error-page__message {
    font-weight: 500;
}

.error-page__details {
    text-align: center;
    max-width: 500px;
}

.error-page__text {
    font-size: 1.1rem;
    color: var(--color-text-primary);
    margin-bottom: 2rem;
}

.error-page__actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.error-page__button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    
    background-color: var(--color-accent-primary); 
    color: var(--color-white);
    box-shadow: var(--shadow-md);
}


.error-page__button--secondary {
    background-color: transparent;
    color: var(--color-text-secondary);
    border: 1px solid var(--color-text-secondary);
}

.error-page__button--secondary:hover {
    background-color: var(--color-gray-light);
}