.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
  font-family: var(--font-family-sans);
  color: var(--color-text-primary);
}

.main-content {
  flex-grow: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
