:root {
  --color-background: #white;
  --color-text-primary: #0F0F0F;
  --color-text-secondary: #260c35;
  --color-accent-primary: #f2ead8;
  --color-accent-secondary: #75162D; 
  --color-accent-highlight: #F2E5C6;
  --color-accent-lowlight: #f065b2a5;
  --color-accent-primary-transparent: #75162e43;
  --color-accent-transparent:  rgba(255, 255, 255, 0.3);
  --color-white: #FFFFFF;
  --color-negro: #0F0F0F;
  --color-bordo-negro: #1e0710;
  --color-gray-100: #f7fafc;
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #8491a1;
  --color-gray-700: #4a5568;
  --color-red-500: #ef4444;
  --color-red-700: #b91c1c;

  --font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-serif: 'Playfair Display', serif;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 0 10px 2px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 0 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

#root {
  min-height: 100vh;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.icon {
    width: 1.75rem;
    height: 1.75rem;
}
