.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}

.login-form__container {
  width: 100%;
  max-width: 28rem;
  background-color: var(--color-white);
  overflow: hidden;
}

@media (min-width: 420px) {
  .login-form__container{
   border-radius: 0.75rem;
   box-shadow: var(--shadow-2xl);
  }
}

.login-form__tab {
  width: 100%;
  padding: 0.5rem 0.25rem;
  text-align: center;
  font-weight: 550;
  font-size: 1rem;
  border: none;
  background: none;
  border-bottom: 2px solid var(--color-accent-secondary);
  color: var(--color-accent-secondary);
}

@media (min-width: 768px) {
  .login-form__tab  {
    font-size: 1rem;
    border-bottom: 3px solid var(--color-accent-secondary);
    font-weight: 590;
     padding: 0.7rem 0.25rem;
  }
}

@media (min-width: 1024px) {
  .login-form__tab {
    font-size: 1.125rem;
    border-bottom: 3.3px solid var(--color-accent-secondary);
    font-weight: 600;
     padding: 1rem 0.25rem;
  }
}



.login-form__tab--active {
  border-bottom-width: 4px;
}

.login-form__tab--comprador.login-form__tab--active {
    border-color: var(--color-accent-primary);
    color: var(--color-accent-primary);
}
.login-form__tab--vendedor.login-form__tab--active {
    border-color: var(--color-accent-secondary);
    color: var(--color-accent-secondary);
}

.login-form__body {
  padding: 0rem;
  padding-bottom: 1rem ;
}

@media (min-width: 420px) {
  .login-form__body {
    padding: 2rem;
  }
}

.login-form__title {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-text-secondary);
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .login-form__title {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .login-form__title {
    font-size: 1.5rem;
  }
}

.login-form__subtitle {
  text-align: center;
  color: var(--color-gray-500);
  margin-bottom: 2rem;
   font-size: 1.175rem;
}
@media (min-width: 768px) {
  .login-form__subtitle {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .login-form__subtitle {
    font-size: 1rem;
  }
}
.login-form__fields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-form__actions {
  margin-top: 1rem;
  display: flex;
  
}

.login-form__demo-note {
  font-size: 0.75rem;
  color: var(--color-gray-400);
  text-align: center;
  margin-top: 1rem;
}

.login-form__error {
  color: var(--color-error, red);
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}