.filter_box{
    background-color: var(--color-white);
    border-radius: 0.75rem;
    box-shadow: var(--shadow-lg);
    padding: 1rem;
    width: 18rem;
    height: auto;
    align-self: flex-start; 
    flex-shrink: 0;
   
}
.filtros-header{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text-primary);
  padding-left: 1rem;
    margin-bottom: 0rem;
}

.filter-button-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: left;
}
.filters-panel__fetch-btn{
  width: 6rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-accent-secondary);
  color: var(--color-white);
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: var(--shadow-sm);
}
.filters-panel__fetch-btn:hover {
  background-color: var(--color-accent-primary-transparent);
  box-shadow: var(--shadow-md);
}
.filters-panel__clear-btn {
  width: auto ;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-gray-200);
  color: var(--color-text-primary);
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: var(--shadow-sm);
}

.filters-panel__clear-btn:hover {
  background-color: var(--color-gray-300);
  box-shadow: var(--shadow-md);
}

@media (min-width: 640px) {
  .filters-panel__clear-btn {
    width: auto;
    min-width: 200px;
  }
}

.price_input_label{
    margin-bottom: 0.5rem;
    margin-left: 0.7rem;
    

}
.price_input_label_text{
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(99, 99, 99);
    margin-bottom: 0.25rem;
}



