.pedidoDetails-page{
    background-color: var(--color-white);
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-xl);
}

@media (max-width: 768px) {
  .pedidoDetails-page{
   padding: 0rem;
   box-shadow: none;
    
  }
  .pedidoDetails-page__title{
    font-size: 1.6rem; 
    padding: 0rem;
  }

  .pedidoDetails-page__total{
    margin-top: 0rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .pedidoDetails-page__total span {
     font-size: 1rem;
    font-weight: 500;
  }

}

.pedidoDetails-page__title{
    font-size: 1.875rem; 
    font-weight: 700;
    color: var(--color-text-primary);
}

.product__table{
  padding-left: 4rem;
  padding-right: 4rem;
}

.pedidoDetails-page__summary{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 1rem;
}

.pedidoDetails-page__total{
    font-size: 1.5rem;
    font-weight: 700;
    align-items: left;
}

.pedidoDetails-page__total span {
  color: var(--color-accent-secondary);
}

.table-container {
  overflow-x: auto;
}

.pedidos-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  padding-left: 5rem;
}

.pedidos-table td {
    color: var(--color-text-primary);
}

.pedidos-table th,
.pedidos-table td {
  padding: 0.75rem;
}

.button-pedidoDetails {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.volver-button{
    padding-left: 2rem;
    padding-right: 2rem;
  }
