.pedidoDetails-page{
    background-color: var(--color-white);
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-xl);
}

.lpedidoDetails-page__title{
    font-size: 1.875rem; 
    font-weight: 700;
    color: var(--color-text-primary);
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-gray-200);
    padding-bottom: 1rem;
}

.pedidoDetails-page__summary{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.pedidoDetails-page__total{
    font-size: 1.5rem;
    font-weight: 700;
}

.pedidoDetails-page__total span {
  color: var(--color-accent-primary);
}

.table-container {
  overflow-x: auto;
}

.pedidos-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.pedidos-table td {
    color: var(--color-text-primary);
}

.pedidos-table th,
.pedidos-table td {
  padding: 0.75rem;
}

.button-pedidoDetails {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
