.footer {
  background-color: var(--color);
  border-top: 1px solid var(--color-gray-200);
  margin-top: auto;
}

.footer__content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  color: var(--color-text-secondary);
}
@media (min-width: 768px) {
  .footer__content {
    padding-top: 1rem;
    padding-bottom: 1rem;

  }
}
.footer__subtitle {
  font-size: 0.875rem;  
}
