.product-card {
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-lg);
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card__image {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

.product-card__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-card__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__description {
  color: var(--color-text-secondary);
  font-size: 0.875rem; 
  margin-top: 0.25rem;
  flex-grow: 1;
}

.product-card__footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-accent-primary);
  
}

.product-card__button {
  background-color: var(--color-accent-primary);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: background-color 0.3s ease-in-out;
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.product-card__button:hover {
  background-color: rgba(68, 179, 151, 0.9);
}
